/* space-mono-regular - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src:
       url("../fonts/space-mono-v6-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/space-mono-v6-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/space-mono-v6-latin-regular.woff") format("woff"), /* Modern Browsers */
       url("../fonts/space-mono-v6-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/space-mono-v6-latin-regular.svg#SpaceMono") format("svg"); /* Legacy iOS */
}
/* space-mono-700 - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v6-latin-700.eot"); /* IE9 Compat Modes */
  src:
       url("../fonts/space-mono-v6-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/space-mono-v6-latin-700.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/space-mono-v6-latin-700.woff") format("woff"), /* Modern Browsers */
       url("../fonts/space-mono-v6-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/space-mono-v6-latin-700.svg#SpaceMono") format("svg"); /* Legacy iOS */
}

/* lexend-deca-regular - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend-deca-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src:
       url("../fonts/lexend-deca-v7-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/lexend-deca-v7-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/lexend-deca-v7-latin-regular.woff") format("woff"), /* Modern Browsers */
       url("../fonts/lexend-deca-v7-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/lexend-deca-v7-latin-regular.svg#LexendDeca") format("svg"); /* Legacy iOS */
}

:root{
--yellow:#FCB72B;
--dark-navy:#495567;
--dim-grey:#939CAA;
--light-grey:#E5ECF4;
--snow:#F2F5F9;
--light-yellow:#FFF4DF;
--white:#fff;
}



html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Lexend Deca", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.site__header {
  padding: 22px 0;
}
.header__container{
  display: flex;
  align-items: center;
}
.site__header-link {
  margin-right: 58px;
}
.site__header-img {
  display: block;
}
.site__nav {
  margin-right: auto;
}
.site__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.site__nav-item:not(:last-child) {
  margin-right: 32px;
}
.site__nav-link {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Space Mono";
  font-weight: bold;
  color: var(--dim-grey);
  transition: color 0.3s ease;
}
.site__nav-link:hover{
  color: var(--yellow);
}
.button {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Space Mono";
  font-weight: bold;
  color: var(--white);
  background-color: var(--yellow);
  padding: 14px 39px;
  border: 3px solid transparent;
  transition: color 0.3s ease,
  background-color 0.3s ease;
}
.button:hover{
  color: var(--yellow);
  background-color: transparent;
  border: 3px solid var(--yellow);
}

/* HERO */
.hero {
  position: relative;
  z-index: 1;
padding: 153px 0;
background-image: url(../img/three-circle.svg), url(../img/hero-bg.jpg) ;
background-repeat: no-repeat;
background-size: 234px 63px, cover;
background-position: calc(50% + 645px) 415px, center center;
}

.hero__heading {
  width: 500px;
  margin: 0;
  font-family: Space Mono;
font-weight: bold;
font-size: 56px;
line-height: 56px;
letter-spacing: -2.5px;
color: var(--white);
margin-bottom: 40px;
}
.hero_desc {
  width: 405px;
  margin: 0;
  color: var(--white);
  margin-bottom: 40px;
  margin-left: 95px;
}
.hero__content{
  position: relative;
  z-index: 1;
}
.hero__content::before{
  content: "";
  display: block;
  width: 203px;
  height: 15px;
  position: absolute;
  z-index: -1;
  top: 25%;
  left: -15%;
  background-image: url(../img/hero-line-bg.svg);
  background-repeat: no-repeat;
}

.hero__content::after{
  content: "";
  display: block;
  width: 453px;
  height: 150px;
  position: absolute;
  z-index: -1;
  top: 25%;
  left: 50%;
  background-image: url(../img/big-arrow.svg);
  background-repeat: no-repeat;
}
.hero__btn {
  margin-left: 95px;
}

/* FEATURES */
.steps{
padding-top: 160px;
padding-bottom: 75px;
background-image: url(../img/grey-line.svg);
background-size: 924px 15px;
background-repeat: no-repeat;
background-position: calc(50% - 250px) calc(50% - 60px);

}
.steps__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.steps__item {
  width: 350px;
}
.steps__item:not(:last-child){
  margin-right: 30px;
}
.steps__item::before{
  content: "";
  display: block;
  width: 96px;
  height: 96px;
  background-image: url(../img/icon-calculator.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 40px;
}

.item-bike::before{
  background-image: url(../img/icon-bike.svg);
}
.item-speedbike::before{
  background-image: url(../img/icon-speed-bike.svg);
}

.steps__item-title {
  margin: 0;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
color: var(--dark-navy);
margin-bottom: 27px;
}
.steps__item-desc {
color: var(--dim-grey);
}

/* FEATURES */
.features{
  padding-top: 75px;
  padding-bottom: 180px;
}

.features__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
}
.features__box:last-child{
  margin-bottom: 0;
}
.features__box-inner {
  width: 445px;
}
.features__title {
  margin: 0;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--dark-navy);
  margin-bottom: 24px;
}
.features__desc {
  color: var(--dim-grey);
  margin-bottom: 40px;
}

.features__img-box {
position: relative;
z-index: 1;
}

.features__img-box::before{
  content: "";
  position: absolute;
  left: -130px;
  bottom: 0;
  z-index: 10;
  width: 735px;
  height: 140px;
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  }

  .features__img-box::after{
    content: "";
    position: absolute;
    right:  -110%;
    bottom: 0;
    z-index: 1;
    width: 445px;
    height: 445px;
    background-image: url(../img/grey-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    }

.features-location{
  flex-direction: row-reverse;
}