/* space-mono-regular - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src:
  url("../fonts/space-mono-v6-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/space-mono-v6-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
  url("../fonts/space-mono-v6-latin-regular.woff") format("woff"), /* Modern Browsers */
  url("../fonts/space-mono-v6-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/space-mono-v6-latin-regular.svg#SpaceMono") format("svg"); /* Legacy iOS */
}
/* space-mono-700 - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v6-latin-700.eot"); /* IE9 Compat Modes */
  src:
  url("../fonts/space-mono-v6-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/space-mono-v6-latin-700.woff2") format("woff2"), /* Super Modern Browsers */
  url("../fonts/space-mono-v6-latin-700.woff") format("woff"), /* Modern Browsers */
  url("../fonts/space-mono-v6-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/space-mono-v6-latin-700.svg#SpaceMono") format("svg"); /* Legacy iOS */
}

/* lexend-deca-regular - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend-deca-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src:
  url("../fonts/lexend-deca-v7-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lexend-deca-v7-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
  url("../fonts/lexend-deca-v7-latin-regular.woff") format("woff"), /* Modern Browsers */
  url("../fonts/lexend-deca-v7-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/lexend-deca-v7-latin-regular.svg#LexendDeca") format("svg"); /* Legacy iOS */
}

:root{
  --yellow:#FCB72B;
  --dark-navy:#495567;
  --dim-grey:#939CAA;
  --light-grey:#E5ECF4;
  --snow:#F2F5F9;
  --light-yellow:#FFF4DF;
  --white:#fff;
  --footer:#333A44;
}



html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Lexend Deca", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  background-color: #fff;
  overflow-x: hidden;
  margin-top: 100px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.site__header {
  padding: 22px 0;
  position: fixed;
  z-index: 99;
  background-color: var(--white);
  top: 0;
  width: 100%;
}
.header__container{
  display: flex;
  align-items: center;
}
.site__header-link {
  margin-right: 58px;
}
.site__header-img {
  display: block;
}
.site__nav {
  margin-right: auto;
}
.site__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.site__nav-item:not(:last-child) {
  margin-right: 32px;
}
.site__nav-link {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Space Mono";
  font-weight: bold;
  color: var(--dim-grey);
  transition: color 0.3s ease;
}
.site__nav-link:hover{
  color: var(--yellow);
}
.button {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Space Mono";
  font-weight: bold;
  color: var(--white);
  background-color: var(--yellow);
  padding: 14px 39px;
  border: 3px solid transparent;
  transition: color 0.3s ease,
  background-color 0.3s ease;
}
.button:hover{
  color: var(--yellow);
  background-color: transparent;
  border: 3px solid var(--yellow);
}

/* HERO */
.hero {
  position: relative;
  z-index: 1;
  padding: 153px 0;
  background-image: url("../img/three-circle.svg"), url("../img/hero-bg.jpg") ;
  background-repeat: no-repeat;
  background-size: 234px 63px, cover;
  background-position: calc(50% + 645px) 415px, center center;

}

.hero__heading {
  width: 500px;
  margin: 0;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--white);
  margin-bottom: 40px;
}
.hero_desc {
  width: 405px;
  margin: 0;
  color: var(--white);
  margin-bottom: 40px;
  margin-left: 95px;
}
.hero__content{
  position: relative;
  z-index: 1;
}
.hero__content::before{
  content: "";
  display: block;
  width: 203px;
  height: 15px;
  position: absolute;
  z-index: -1;
  top: 25%;
  left: -15%;
  background-image: url("../img/hero-line-bg.svg");
  background-repeat: no-repeat;
}

.hero__content::after{
  content: "";
  display: block;
  width: 453px;
  height: 150px;
  position: absolute;
  z-index: -1;
  top: 25%;
  left: 50%;
  background-image: url("../img/big-arrow.svg");
  background-repeat: no-repeat;
}
.hero__btn {
  margin-left: 95px;
}

/* FEATURES */
.steps{
  padding-top: 160px;
  padding-bottom: 75px;
  background-image: url("../img/grey-line.svg");
  background-size: 924px 15px;
  background-repeat: no-repeat;
  background-position: calc(50% - 250px) calc(50% - 60px);

}
.steps__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.steps__item {
  width: 350px;
}
.steps__item:not(:last-child){
  margin-right: 30px;
}
.steps__item::before{
  content: "";
  display: block;
  width: 96px;
  height: 96px;
  background-image: url("../img/icon-calculator.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 40px;
}

.item-bike::before{
  background-image: url("../img/icon-bike.svg");
}
.item-speedbike::before{
  background-image: url("../img/icon-speed-bike.svg");
}

.steps__item-title {
  margin: 0;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--dark-navy);
  margin-bottom: 27px;
}
.steps__item-desc {
  color: var(--dim-grey);
}

/* FEATURES */
.features{
  padding-top: 75px;
  padding-bottom: 180px;
}

.features__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
}
.features__box:last-child{
  margin-bottom: 0;
}
.features__box-inner {
  width: 445px;
}
.features__title {
  margin: 0;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--dark-navy);
  margin-bottom: 24px;
}
.features__desc {
  color: var(--dim-grey);
  margin-bottom: 40px;
}

.features__img-box {
  position: relative;
  z-index: 1;
}

.features__img-box::before{
  content: "";
  position: absolute;
  left: -130px;
  bottom: 0;
  z-index: 10;
  width: 735px;
  height: 140px;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.features__img-box::after{
  content: "";
  position: absolute;
  right:  -110%;
  bottom: 0;
  z-index: 1;
  width: 445px;
  height: 445px;
  background-image: url("../img/grey-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.features-location{
  flex-direction: row-reverse;
}

.city-imgbox::before{
  content: "";
  position: absolute;
  left: -118%;
  top: 0;
  z-index: 10;
  width: 735px;
  height: 140px;
  background-image: url("../img/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.city-imgbox::after{
  content: "";
  position: absolute;
  right:  115%;
  bottom: 0;
  z-index: 1;
  width: 445px;
  height: 445px;
  background-image: url("../img/grey-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.features__img-payments{
  border-radius: 50%;
}

.payments-imgbox::before{
  content: "";
  position: absolute;
  left: 235px;
  top: 66px;
  z-index: 10;
  width: 735px;
  height: 140px;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* APP-MARKET */
.app-market {
  padding: 102px 0;
  background-color:var(--dark-navy);
  background-image: url("../img/three-big-circle.svg");
  background-repeat: no-repeat;
  background-size: 1153px 347px;
  background-position: calc(50% + 300px) 130px;
}
.app-market__container{
  display: flex;
  align-items: center;
}
.app-market__title {
  width: 415px;
  margin: 0;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--white);
  margin-right: auto;
}
.app-market__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.app-market__item:not(:last-child) {
  margin-right: 18px;
}
.app-market__img {
  display: block;
}

/* FOOTER */

.site__footer {
  background-color: var(--footer);
  padding: 36px 0;
}

.footer__container {
  display: flex;
  align-items: center;
}

.site__footer-img {
  display: block;
}

.footer__social-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.footer__social-item:not(:last-child) {
  margin-right: 24px;
}
.footer__social-link {
  color: var(--yellow);
  transition: color 0.3s ease;
}

.footer__social-link:hover {
  color: var(--white);
}

/* PAGE ABOUT */

.page-title{
  padding: 72px 0;
  background-image: url("../img/about-head-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-title__head{
margin: 0;
font-family: "Space Mono";
font-weight: bold;
font-size: 56px;
line-height: 56px;
letter-spacing: -2.5px;
color: var(--white);
}

.page-title__container::after{
  position: absolute;
  z-index: 10;
  content: "";
  top: 0;
  right: -160px;
  width: 234px;
  height: 63px;
  background-image: url("../img/three-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  }
.page-title__container{
  position: relative;
  z-index: 1;
  display: flex;
align-items: center;
}

/* about-features */

.about-features{
  padding: 120px 0;
}
.features__about-mobility{
  border-radius: 50%;
}

/* VALUES */
.values {
  padding-bottom: 120px;
}

.values__heading {
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: var(--dark-navy);
  margin-bottom: 103px;
}
.values__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
}
.values__item {
  position: relative;
  z-index: 1;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.values__item:not(:last-child){
  margin-right: 30px;
}

.values__item::before{
  content: "";
  background-image: url("../img/values-mobile-photo.jpg");
  width: 240px;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 87px;
}
.item-integrity::before {
  background-image: url("../img/values-moto-photo.jpg");
}
.values__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  width: 96px;
  height: 96px;
  border-radius: 50%;
  position: absolute;
  z-index: 15;
  left: 125px;
  top: 195px;
  font-family: "Space Mono";
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: var(--dark-navy);

}
.values__item-title {
  margin: 0;
  font-family: "Space Mono";
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: var(--dark-navy);
margin-bottom: 27px;
}
.values__item-desc {
  margin: 0;
color: var(--dim-grey);
}

/* FAQ */
.faq{
  padding-bottom: 160px;
}
.faq__heading {
max-width: 540px;
margin: 0 auto;
margin-bottom: 64px;
text-align: center;
font-family: "Space Mono";
font-weight: bold;
font-size: 48px;
line-height: 48px;
letter-spacing: -2.14286px;
color: var(--dark-navy);
}
.faq__section {
  display: flex;
  align-items: flex-start;
}
.faq__section:not(:last-child){
  margin-bottom: 64px;
}
.faq__section-heading {
  margin: 0;
  width: 350px;
  margin-right: 30px;
  flex-shrink: 0;
  font-family: "Space Mono";
font-weight: bold;
font-size: 40px;
line-height: 48px;
letter-spacing: -1.78571px;
color: var(--dark-navy);
}
.faq__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.faq__item:not(:last-child) {
margin-bottom: 16px;
}

.tab {
  width: 730px;
  background-color: var(--snow);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.tab:not(.tab__open):hover{
  background-color: var(--light-yellow);
}
.tab__top {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;

}
.tab__title {
  margin: 0;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--dark-navy);
}
.tab__toggle {
    border: none;
  background-color: transparent;
width: 20px;
height: 10px;
background-image: url("../img/arrow.svg");
background-repeat: no-repeat;
background-position: center center;
cursor: pointer;
}
.tab__toggle::after{
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tab__info {
  margin: 0;
  padding: 0 40px 32px;
  display: none;
  color: var(--dark-navy);
}

.tab__open .tab__info{
display: block;
}

.tab__open .tab__toggle {
  border: none;
width: 20px;
height: 10px;
background-image: url("../img/arrow-down.svg");
background-repeat: no-repeat;
background-position: center center;
}





